<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Cupones 🎟
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div *ngFor="let coupon of coupons">
    <div class="container mt-3">
      <div class="d-flex justify-content-center row">
        <div class="col-md-6">
          <div class="coupon p-3 bg-white">
            <div class="row no-gutters">
              <div class="col-md-8">
               <b> {{coupon.nombre}}</b>
                <div>
                  {{coupon.descripcion}}
                  <div class="d-flex flex-row justify-content-end off">
                    <ion-button color="primary">Reclamar</ion-button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button routerLink="../../add-coupon" >
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
