
.coupon {
    border-radius: 12px;
    box-shadow: 5px 8px 10px #d6d5d541
}



.code:hover {
    background: green;
    color: #fff;
    cursor: pointer
}

ion-content
  {
      --background: #343738;
  }